node_modules/
.vscode/
.idea/
./node_modules
# OS files
.DS_Store
Thumbs.db

# Node.js
node_modules/
npm-debug.log

# Logs
*.log

# IDEs
.vscode/
.idea/

build/
src/**/*.js
src/**/*.js.map
src/**/*.d.ts
tsconfig.tsbuildinfo

dist/
.env